mat-toolbar {
  background-color: bisque;
  color: sienna;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 0.69rem;
  font-weight: bolder;
}
