<div style="margin-top: 8px;">
  <h6>SPA Technical Details</h6>
  <p>This application is built with Angular v.18 schematics.</p>
  <strong>SPA key features:</strong>
  <ul>
    <li>Dependency Injection</li>
    <li>Lazily-loading routes</li>
    <li>Child routes</li>
    <li>Reactive forms with some basic additions</li>
    <li>Custom validators</li>
    <li>RXJS Subject in the SPA service</li>
    <li>Stand-alone components</li>
    <li>Angular Material with its DnD, icons, etc.</li>
  </ul>
</div>
